.nav-container{
    top: 0;
    position: sticky;
    z-index: 1000; 
    width: 100%;
    background-color: white;
   
}
.navbar {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;   
    width: 60%;
    
}
.nav-left a{
    border-bottom: 6px solid #1ED6B2;
    font-size:40px;
    color: rgb(50, 50, 50);
    cursor: pointer;
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
}
.nav-left{
    flex-grow: 1;
}
.nav-right{
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin:40px 40px;
    
}
.nav-right a {
  text-decoration: none;
  color: rgb(65, 64, 64);
  font-family: sans-serif;
  font-size: 14px;
  cursor: pointer;
}
.nav-right a:hover{
    border-bottom: 2px solid #1ED6B2;
}
.nav-right a.active {
  border-bottom: 2px solid #1ED6B2;
}