/* #root {
  max-width: 1080px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}*/

 .main-body{
  width: 100%;
  margin: 0 auto;
 }
 .nav-right a {
  text-decoration: none;
  color: black;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.nav-right a.active {
  border-bottom: 2px solid teal;
  font-weight: bold;
  color: teal;
}

.section {
  /* height: 100vh; */
  padding: 0px;
  margin-top: 60px; /* To prevent navbar overlap */
}
@media (max-width:768px){
  .section{
    padding: 0;
    margin: 20px;
  }
}
@media (max-width:480px){
  .section{
    padding: 0;
    margin: 20px;
  }
  .main-body{
    width: 100%;
  }
}
.section:target ~ .navbar .nav-left a[href="#home"],
#about:target ~ .nav-right a[href="#about"],
#mentors:target ~ .nav-right a[href="#mentors"],
#partners:target ~ .nav-right a[href="#partners"],
#supporters:target ~ .nav-right a[href="#supporters"],
#donate:target ~ .nav-right a[href="#donate"],
#joinus:target ~ .nav-right a[href="#joinus"] {
  border-bottom: 2px solid teal;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.read-the-docs {
  color: #888;
}
